.movies-card {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
}

.movies-card__img {
  box-sizing: border-box;
  max-height: 203px;
  object-fit: cover;
  object-position: center;
}

.movies-card__content {
  display: flex;
  flex-direction: row;
  column-gap: 26px;
}

.movies-card__heading {
  display: flex;
  flex-direction: column;
  margin: 14px 0 9px 14px;
  justify-content: space-between;
  width: 100%;
}


.movies-card__title {
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 9px;

}

.movies-card__duration {
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;

}

@media screen and (max-width: 768px) {
  .movies-card__img {
    max-height: 190px;
  }
}

@media screen and (max-width: 575px) {
  .movies-card__img {
    max-height: 168px;
  }
}

.movies-card__add-bookmark {
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #f9f9f9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .09);

  padding: 0;
}

.movies-card__add-bookmark_active {
  background-color: #3DDC84;
}

.movies-card__delete-bookmark {
  box-sizing: border-box;
  height: 30px;
  max-width: 30px;
  width: 100%;
  border: 0;
  background-color: transparent;
  background-image: url("../../images/ui/delete-bookmark-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-color .3s ease;
  margin: 19px 14px 0 0;
  padding: 0;
}

.movies-card__delete-bookmark:hover {
  border-radius: 50%;
  background-color: #313131;
}