.profile {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 410px;
  width: 100%;
  padding: 74px 0 70px;
  margin: 0 auto;

}

.profile__heading {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.profile__form {
  margin-top: 123px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.profile__fieldset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #424242;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.profile__fieldset:last-of-type {
  border: none;
}

.profile__label {
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  text-align: right;
  width: 100%;
  background-color: #202020;
  color:#FFFFFF;
}

.profile__input:focus {
  font-weight: 500;
  border-bottom-color: #4285F4;
}



.profile__input_invalid {
  color: #EE3465;
}

.profile__input-text-of-error {
  grid-column: 1 / span 2;
  color: #EE3465;
  font-size: 10px;
  line-height: 12px;
  height: 16px;
  text-align: right;
}

.profile__errors-resume {
  margin-top: 156px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  text-align: center;
  height: 14px;
}

.profile__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.profile__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  height: 45px;
  padding: 0;
  background-color: #4285F4;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: opacity .3s ease;
}
.profile__button:hover {
  opacity: .8;
}
.profile__disabled-button {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.profile__edit-button {
  border: none;
  padding: 0;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 16px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.profile__edit-button:hover {
  opacity: .7;
}

.profile__quit-red {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  transition: opacity .3s ease;
  color: #EE3465;
}

.profile__quit-red:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 230px;
  }

  .profile__form {
    margin-top: 96px;
  }

  .profile__errors-resume {
    margin-top: 147px;
  }
}

@media screen and (max-width: 544px) {
  .profile {
    max-width: 260px;
    padding-top: 68px;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__quit-red {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__edit-button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__errors-resume {
    margin-top: 316px;
  }
}
