.error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__heading {
  display: flex;
  flex-direction: column;
  margin-top: 248px;
}

.error__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  margin: 0;
}

.error__description {
  color: #ffffff;
  margin: 5px 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.error__back {
  margin: 184px 0 60px;
  background: none;
  color: #4285F4;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
}

.error_back:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .error__heading {
    margin-top: 408px;
  }

  .error__back {
    margin-bottom: 222px;
  }
}

@media screen and (max-width: 544px) {
  .error {
    padding-bottom: 0;
  }

  .error__heading {
    margin-top: 329px;
  }

  .error__title {
    font-size: 80px;
    line-height: 97px;
  }

  .error__description {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }

  .error__back {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
  }
}
