.search-string {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #222222;
  border-radius: 9px;
  padding: 19px 0 19px;
  margin: 0 0 69px;
}

.search-string__container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #505050;
  align-items: center;
}

.search-string__movie-input {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  width: 100%;
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
}

.search-string__search-icon {
  width: 34px;
  height: 34px;
  background-image: url("../../images/ui/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin: 0 10px 0 19px;
}

.search-string__button {
  box-sizing: border-box;
  cursor: pointer;
  background-color: #4285F4;
  border-radius: 48px;
  max-width: 80px;
  width: 100%;
  height: 34px;
  border: none;
  transition: opacity .3s ease;
  background-image: url("../../images/ui/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 19px;
  padding: 0;
}

.search-string__button:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .search-string {
    margin-bottom: 109px;
  }

  .search-string__shorts-checkbox {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
}

@media screen and (max-width: 544px) {
  .search-string {
    flex-direction: column;
    margin-right: 4px;
    margin-left: 4px;
    padding: 0;
    height: 72px;
  }

  .search-string__search-icon {
    display: none;
  }

  .search-string__container {
    border: none;
    position: relative;
    top: 20px;
  }

  .search-string__movie-input {
    padding-left: 19px;
    line-height: 22px;

  }

  .search-string__button {
    padding: 0;
  }

  .search-string__shorts-checkbox {
    justify-content: center;
    position: relative;
    top: 80px;
  }
}
