.navtab {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  column-gap: 10px;
  margin: 0;
  padding: 0;
}

.navtab__link {
  font-weight: 500;
  font-size: 12px;
  transition: opacity .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #303030;
  color: #ffffff;
  border-radius: 10px;
  width: 96px;
  height: 36px;
  margin-bottom: 30px;
}

.navtab__item:hover {
  opacity: .8;
}

@media screen and (max-width: 544px) {
  .navtab {
    column-gap: 6px;
    margin-bottom: 17px;
  }

  .navtab__item {
    font-size: 10px;
    line-height: 16px;
    width: 82px;
    height: 26px;
  }
}
