.tooltip {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: .3s linear;
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  top: 0;
  left: 0;
}

.tooltip_visible {
  pointer-events: all;
  opacity: 1;
}

.tooltip__button {
  cursor: pointer;
  border: 0;
  padding: 0;
}

.tooltip__button_action_close {
  width: 32px;
  height: 32px;
  background-image: url(../../images/ui/close-button-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  position: absolute;
  top: 22px;
  right: 22px;
  background-size: cover;
  transition: .3s linear;
}

.tooltip__button_action_close:hover {
  opacity: .6;
}

.tooltip__tooltip-img {
  max-width: 120px;
  max-height: 120px;
  align-self: center;
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
}

.tooltip__tooltip-img_error {
  color: red;
}

.tooltip__tooltip-img_success {
  color: green;
}

.tooltip__tooltip-img_warning {
  color: yellow;
}

.tooltip__tooltip-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 10px;
}

.tooltip__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 430px;
  background-color: #313131;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
  transition: .1s;
  box-sizing: border-box;
  position: relative;

}

@media screen and (max-width: 575px) {
  .tooltip__container {
    padding: 25px 22px;
    margin: 0 19px;
  }
}


@media screen and (max-width: 575px) {
  .tooltip__button_action_close {
    /*top: -36px;*/
    width: 20px;
    height: 20px;
    right: 0;
  }
}
